/* Write your code here. */
.background-sec {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  border: 1px black solid;
  min-height: 100vh;
  font-family: 'Roboto';
}

.body-container {
  border: 2px yellow solid;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.content-sec {
  border: white solid 3px;
}

.emojis-container {
  padding: 0px;
  display: flex;
  border: black 1px solid;
  width: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .emojis-container {
    width: 60%;
  }
}
